- item_array ||= []
.dropdown
  %a.dropdown-toggle
    .black-text.hipster-btn{:id => (item_array[0].to_s rescue "drp-dwn")}
      %span
        #{item_array[0].to_s rescue ""}
      %img{:src => "/icons/drop_dwn.png", :width => "35px"}
    .list-container
    %ul.dropdown-menu.show{:role => "menu", :arai => {:labelledby => "dLabel"}, :data => {:open => "false"}}
      - item_array.each_with_index do |str,i|
        %br
        %li{:role => "presentation"}
          .menu-item{:role => "menuitem", :tabindex => "-1"}
            #{str}

