- item_array ||= []
.dropdown
  %a.dropdown-toggle
    .black-text.hipster-btn
      .drop-link
        %span
          #{item_array[0].to_s rescue ""}
        %img{:src => "/icons/drop_dwn.png"}
    .list-container
    %ul.dropdown-menu{:role => "menu", :arai => {:labelledby => "dLabel"}}
      - item_array.each_with_index do |str,i|
        %br
        %li{:role => "presentation"}
          %a{:role => "menuitem", :tabindex => "-1"}
            #{str}

