=content_for :head do
  =javascript_include_tag "counter"
  =stylesheet_link_tag "counter"
  =stylesheet_link_tag "application"
.all_content.center
  .header.magneato-header
    .row
      .span6
        %h3.blue-text < Back
      .span6
        %h3.blue-text Arms
  .main_content{:style => "font-style:helvetica neue ultra light;"}
    = render :partial => "counter/dropdown", :locals => {:item_array => ["Exercise", "Preacher Curl", "Hammer Curl", "Reverse Curl", "Tricep Extension"]}
    %br
    = render :partial => "counter/dropdown", :locals => {:item_array => ["Weight","5","10","15","20","25","30","35","40","45","50"]}
    %br
    .hipster-btn.green-text 
      Start
    %br
    %h1.jumbotron#reps.hide 0
    %br 
    .hipster-btn.red-text
      Stop
    %br
    %br
