=content_for :head do
  =javascript_include_tag "counter"
  =stylesheet_link_tag "counter"
  =stylesheet_link_tag "application"
.all_content.center
  .header.magneato-header.table-bordered
    %h3.blue-text.span3 < Back
    %h3.blue-text#exercise Arms
  .main_content{:style => "font-style:helvetica neue ultra light;"}
    = render :partial => "counter/dropdown", :locals => {:item_array => ["Exercise", "Preacher Curl", "Hammer Curl", "Reverse Curl", "Tricep Extension"]}
    = render :partial => "counter/dropdown", :locals => {:item_array => ["Weight","5","10","15","20","25","30","35","40","45","50"]}
    .hipster-btn.green-text#start-btn
      Start
    %h1.jumbotron#reps.hide 0
    .hipster-btn.red-text#stop-btn
      Stop
    %br
    %br
