/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./desktop
 */

@import "twitter/bootstrap";
body {
  background-color:#f7f7f7;
  font-weight: 100;
}
.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.logo{
  background-color:#E5E5E5;
  height: 120px;
  width:  120px;
}
.workouts{

}
.button-workouts{
  border: solid 1px #E5E5E5;
  padding-right:20px;
  padding-left:20px;
  height: 200px;
  width:  200px;
}
h3{
  color: #C2C2C2;
  font-size: 30px;
  font-weight: 100;
}
.blue-text {
  color: #25aae0;
}
.red-text {
  color: #d20814;
}
.green-text {
  color: #2fc33c;
}
.hipster-btn {
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
  font-size: 65px;
}
.magneato-header {
 margin-bottom: 50px;
 height:86px;
 background-color: #f0f0f0;
}

