/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./desktop
 */

@import "twitter/bootstrap";
body {
  background-color:#f7f7f7;
}
.center{
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
.blue-text {
  color: #25aae0;
}
.red-text {
  color: #d20814;
}
.green-text {
  color: #2fc33c;
}
.hipster-btn {
  cursor: pointer;
  background: none;
  border: none;
  box-shadow: none;
}
.magneato-header {
 margin-bottom: 50px;
 height:86px;
 background-color: #f0f0f0;
}
