// Place all the styles related to the counter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reps {
  margin-top: 200px;
  margin-bottom: 100px;
  font-weight: 100;
  font-size: 200px;
}
.magneato-header h3 {
  margin-top: 60px;
  margin-left:-170px;
  font-weight: 100;
  font-size: 90px;
}

